@charset "UTF-8";

//マップ型変数breakpointsを定義
$breakpoints: (
  //キー　　値
  "sm": "screen and (max-width: 576px)",
  "md": "screen and (max-width: 1028px)"
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

/*------------全体に共通するクラス---------*/
/*画面サイズがsmの時にＰＣ表示をオフにする*/
@include mq(sm) {
  .is-pc {
    display: none;
  }
}
/*画面サイズがmdの時にＳＰ表示をオフにする*/
@include mq(md) {
  .is-sp {
    display: none;
  }
}

$primary-color: rgb(146, 144, 144);

body {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.8;
  overflow-x: hidden;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;

  @include mq(sm) {
    max-width: auto;
    padding: 0;
  }
}

.util-title {
  font-family: serif;
  letter-spacing: 6px;
  text-align: center;
  color: rgb(8, 8, 8);
  font-size: 50px;
  padding-bottom: 100px;
  position: relative;
  z-index: 100;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    background: rgb(255, 21, 0);
    margin: 16px auto 0;
  }
}

.util-link {
  font-style: 14px;
  letter-spacing: 0.1em;
  color: $primary-color;
  border: solid 1px $primary-color;
  background: #fff;
  display: inline-block;
  padding: 10px 54px;
  transition: background-color 0.4s, color 0.4s;

  &.-active {
    background: $primary-color;
    color: #fff;
  }

  @include mq(md) {
    &:not(.-submit) {
      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }
  }
}

/*--------------------header---------------------*/
header {
  background-color: rgb(255, 255, 255);

  @include mq(sm) {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
  }
}

.header-item {
  display: flex;
  position: relative;
}

.header-logo {
  width: 280px;
  height: 80px;
  @include mq(md) {
    opacity: 0;
    height: 50px;
  }
  @include mq(sm) {
    opacity: 0;
    height: 50px;
  }
}

.header-nav {
  position: absolute;
  right: 10px;
  margin-top: 45px;
  @include mq(md) {
    opacity: 1;
    position: absolute;
    
    margin-top: 10px;
  }
  @include mq(sm) {
    opacity: 1;
    position: absolute;
    left: 0;
    margin-top: 10px;
  }

  & ul {
    display: flex;

    & li {
      padding-left: 40px;

      @include mq(sm) {
        padding: 0 20px;
      }

      & a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        letter-spacing: 2px;
        color: rgb(56, 56, 56);
        transition: all 0.5s;

        @include mq(sm) {
          height: 40px;
        }

        &:hover {
          transform: scale(1.2, 1.2) translate(-1px, -1px);
        }
      }
    }
  }
}

/*----------------top----------------*/

.top {
  margin: 0 auto;

  @include mq(sm) {
    height: 88vh;
    padding: 0;
    margin-top: 50px;
  }
}

.top-inner {
  position: relative;
  
}

@keyframes img-color1 {
  0% {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  100% {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.top-image {
  width: 100%;
  height: 88vh;
  animation-name: img-color1;
  animation-duration: 4s;
  animation-timing-function: ease-in;

  @include mq(sm) {
    width: 100%;
  }
}



.top-title h2{
  position: absolute;
  color: rgb(51, 51, 51);
  width: 550px;
  font-size: 60px;
  font-weight: bold;
  z-index: 100;
  top: -550px;
  left: 50%;
  

  @include mq(md) {
    font-size: 60px;
    top: -950px;
    left: 250px;
    text-align: center;
    
    
  }

  @include mq(sm) {
    text-align: center;
    font-size: 40px;
    top: -650px;
    width: 100%;
    left: 0;
  }
}


.top-item {
  margin-top: 100px;
  position: absolute;
  color: rgb(3, 3, 3);
  background-color: rgba(255, 255, 255, 0.8);
  width: 30%;
  top: -500px;
  left: 100px;
  z-index: 100;

  @include mq(md) {
    top: -610px;
    width: 60%;
    margin-top: 0;
    left: 20%;
  }

  @include mq(sm) {
    top: -380px;
    width: 100%;
    left: 0;
    margin-top: 0;
  }
}

.top-item-title {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  font-family: serif;
  font-weight: bold;

  @include mq(md) {
    font-size: 30px;
    top: -250px;
    width: 100%;
    left: 0;
  }
  @include mq(sm) {
    font-size: 30px;
    top: -250px;
    width: 100%;
    left: 0;
  }
}

.top-item-text {
  & h3 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 10px;
    line-height: 20px;

    & span {
      font-size: 12px;
      letter-spacing: 1px;
      padding-right: 10px;
    }
  }
  & p {
    text-align: left;
    margin-top: 40px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 2em;
    font-weight: bold;
  }
}
/*-------------------concept----------------*/

.concept {
  background-color: rgb(255, 255, 255);
  padding: 200px 0 650px 0;
  position: relative;

  @include mq(sm) {
    padding: 100px 0 0 0;
  }
}

.concept-item {
  position: relative;
  z-index: 100;

  @include mq(sm) {
    display: block;
  }
}

.concept-image {
  width: 500px;
  margin-left: 70%;
  opacity: 0;
  display: none;

  @include mq(sm) {
    width: 100%;
    padding: 0;
    opacity: 1;
    margin: 0;
    display: block;
  }
}

.concept-item-box {
  width: 35%;
  text-align: left;
  box-shadow: 4px 4px 10px rgb(165, 164, 164);
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
  transition: 1s all;

  &:hover {
    transform: scale(1.1, 1.1);
  }

  @include mq(sm) {
    padding: 0;
    width: 90%;
    margin: 20px;
    display: block;
    position: static;
  }
}

.box-1 {
  position: absolute;
  left: 5%;
  top: 50px;
  @include mq(sm) {
    padding: 0px;
    display: block;
    position: static;
  }
}

.box-2 {
  position: absolute;
  left: 60%;
  top: 200px;
  @include mq(sm) {
    padding: 0px;
    display: block;
    position: static;
  }
}

.box-3 {
  position: absolute;
  left: 7%;
  top: 400px;
  @include mq(sm) {
    padding: 0px;
    display: block;
    position: static;
  }
}

.box-4 {
  position: absolute;
  left: 60%;
  top: 600px;
  @include mq(sm) {
    padding: 0px;
    display: block;
    position: static;
  }
}

.concept-item-title {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  color: rgb(77, 54, 54);
  @include mq(sm) {
    letter-spacing: 1px;
    padding: 10px 0 0 20px;
  }
}

.concept-title {
  position: absolute;
  width: 10px;
  top: 0px;
  left: 50%;
  font-size: 30px;
  font-weight: bold;
  z-index: 100;
  @include mq(sm) {
    font-size: 25px;
    width: auto;
    top: -60px;
    left: 50px;
  }
}

.concept-text {
  width: 100%;
  padding: 20px 20px 5px;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: bold;
  z-index: 100;
  text-align: left;

  @include mq(sm) {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }
}

/*-------------------skill----------------*/

.service {
  background-color: rgb(255, 255, 255);
  padding: 200px 0 750px 0;

  @include mq(sm) {
    padding: 100px 0 0 0;
  }
}

.service-inner {
  position: relative;
}

.service-item-box {
  position: absolute;
  box-shadow: 4px 4px 16px;
  width: 35%;
  background-color: #fff;
  z-index: 100;
  opacity: 0.9;
  transition: 1s;

  &:hover {
    transform: scale(1.1, 1.1);
  }

  @include mq(sm) {
    padding: 0;
    margin: 20px 20px 50px 20px;
    display: block;
    position: static;
    width: 90%;
  }
}

.service-item-title {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  color: rgb(77, 54, 54);
  @include mq(sm) {
    letter-spacing: 1px;
    padding: 10px 0 0 20px;
  }
}

.service-text {
  width: 100%;
  padding: 20px 20px 5px;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  overflow-wrap: wrap;

  @include mq(sm) {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }
}

.box-5 {
  left: 5%;
  top: 50px;
  @include mq(sm) {
    padding: 0px;
    display: block;
    position: static;
  }
}

.box-6 {
  right: 5%;
  top: 300px;
  @include mq(sm) {
    padding: 0px;
    display: block;
    position: static;
  }
}

.box-7 {
  left: 5%;
  top: 520px;
  @include mq(sm) {
    padding: 0px;
    display: block;
    position: static;
  }
}

.box-8 {
  right: 50px;
  top: 600px;
  @include mq(sm) {
    padding: 0px;
    display: block;
    position: static;
  }
}

/*-------------------service-trry----------------*/

.trry {
  position: relative;
}

.trry img {
  width: 3%;
}

.trry-img {
  position: absolute;
  width: 50% !important;
  top: -100px;
  left: 25%;

  @include mq(md) {
    top: 100px;
    width: 70%;
  }

  @include mq(sm) {
    display: none;
  }
}

.trry-item {
  z-index: 100;
}

.anime-logo {
  position: absolute;
  z-index: 1;
  overflow: hidden;

  @include mq(sm) {
    display: none;
  }
}



@keyframes img-color {
  
  
  20% {
    top: 20%;
    left: 200%;
    transform:  scale(0.3, 0.3);
  }
  50% {
    transform: rotate(180deg) scale(0.3, 0.3);
    top: 1%;
    left: -100%;
  }
  55% {
    
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
    
  }
}


.logo-1 {
  overflow: hidden;
  animation: img-color 8s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.logo-2 {
  animation-name: img-color;
  animation-duration: 8.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.logo-3 {
  animation-name: img-color;
  animation-duration: 8.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.logo-4 {
  animation-name: img-color;
  animation-duration: 8.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.logo-5 {
  animation-name: img-color;
  animation-duration: 8.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.logo-6 {
  animation-name: img-color;
  animation-duration: 8.4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.logo-7 {
  animation-name: img-color;
  animation-duration: 8.4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.logo-8 {
  animation-name: img-color;
  animation-duration: 8.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.logo-9 {
  animation-name: img-color;
  animation-duration: 8.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.logo-10 {
  animation-name: img-color;
  animation-duration: 8.6s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.logo-1 {
  top: calc(70 / 1200 * 100vw);
  left: calc(300 / 1200 * 100vw);
}

.logo-2 {
  top: calc(50 / 1200 * 100vw);
  left: calc(420 / 1200 * 100vw);
}

.logo-3 {
  top: calc(120 / 1200 * 100vw);
  left: calc(700 / 1200 * 100vw);
}

.logo-4 {
  top: calc(70 / 1200 * 100vw);
  left: calc(570 / 1200 * 100vw);
}

.logo-5 {
  top: calc(70 / 1200 * 100vw);
  left: calc(800 / 1200 * 100vw);
}

.logo-6 {
  top: calc(270 / 1200 * 100vw);
  left: calc(300 / 1200 * 100vw);
}

.logo-7 {
  top: calc(200 / 1200 * 100vw);
  left: calc(420 / 1200 * 100vw);
}

.logo-8 {
  top: calc(250 / 1200 * 100vw);
  left: calc(550 / 1200 * 100vw);
}

.logo-9 {
  top: calc(350 / 1200 * 100vw);
  left: calc(700 / 1200 * 100vw);
}

.logo-10 {
  top: calc(270 / 1200 * 100vw);
  left: calc(800 / 1200 * 100vw);
}

.logo-11 {
  top: calc(270 / 1200 * 100vw);
  left: calc(800 / 1200 * 100vw);


    animation-name: img-color;
  animation-duration: 8.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  
}

/*-------------------works----------------*/

.works {
  background-color: rgb(255, 255, 255);
  padding: 200px 0 200px 0;
  position: relative;

  @include mq(sm) {
    padding: 100px 0 0 0;
  }
}

.works-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  @include mq(md) {
    display: block;
    
  }
  @include mq(sm) {
    display: block;
    margin: 5%;
    
    
  }
}

.works-item img {
  width: 100%;
  height: 100%;
}


.works-item {
  width:			500px;
	height:			350px;
	overflow:		hidden;
	position:		relative;
  z-index: 100;
  margin: 30px;
  box-shadow: 4px 4px 16px #737677;

  @include mq(md) {
    display: block;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    
  }
  @include mq(sm) {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    
  }

}

.works-item .works-text {
	font-size:		100%;
	color:			#fff;
	text-align: 		center;
	padding-top:		180px;
}
.works-item .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* 表示させない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transform:	rotateX(-180deg);
	transform:		rotateX(-180deg);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;

  @include mq(sm) {
    display: block;
   
    
  }
}
.works-item:hover .mask {
	-webkit-transform:	rotateX(0deg);
	transform:		rotateX(0deg);
	opacity:		1;	/* ホバーで表示する */
}





/*--------- contact-------------------------------*/

.contact {
  background-color: rgb(255, 255, 255);
  padding: 0 0 100px 0;
  position: relative;

  @include mq(sm) {
    margin-top: 92px;
    padding: 56px 28px;
  }

  .util-title {
    color: #000;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    border: 0;
    font-size: 16px;
    padding: 0.2em 0.5em;
    box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
    border-radius: 2px;
  }
  input[type="text"],
  input[type="email"] {
    height: 40px;
  }

  textarea {
    min-height: 122px;
    resize: vertical;
    z-index: 100;
  }
}

.contact-form {
  margin-top: 56px;
  z-index: 100;

  @include mq(sm) {
    margin-top: 26px;
  }
}

.contact-text {
  top: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  z-index: 100;
}

.contact-text-inline {
  font-size: 16px;
  color: #e7728e;
}

.contact-list {
  max-width: 510px;
  margin: 18px auto 0;
  z-index: 100;
}

.contact-item {
  @include mq(md) {
    display: block;
  }

  & + & {
    margin-top: 32px;
  }
}

.contact-item-title {
  background: #dddedfb3;
  color: rgb(2, 2, 2);
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 5px;
  position: relative;

  @include mq(sm) {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding: 0 16px;
  }
}

.contact-item-title-inline {
  font-size: 12px;
  color: #e7728e;
  vertical-align: super;
  line-height: 1;
}
@include mq(sm) {
  font-size: 10px;
}

.contact-item-input {
  @include mq(sm) {
    margin-top: 3px;
  }

  @include mq(md) {
    flex: 0 0 320px;
    margin-left: 18px;
  }
}

.contact-radio-wrap {
  display: inline-flex;
  border: solid 1px #fff;
  border-radius: 1px;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

.contact-radio {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &:checked + .contact-radio-part {
    background-color: $primary-color;
    color: #fff;
    border-radius: 1px;
  }

  &:focus + .contact-radio-part {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.contact-radio-part {
  display: block;
  background: #fff;
  color: $primary-color;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
  transition: background-color 0.4s, color 0.4s;
}
.contact-footer {
  @include mq(sm) {
    margin-top: 14px;
  }
  text-align: center;
  margin-top: 20px;
}

.contact-privacy {
  position: relative;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy-part {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: solid 1px $primary-color;
  background-color: #fff;
  top: 0;
  left: 0;

  transition: all 0.2s;
}

.contact-privacy-input {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  opacity: 0;

  &:checked + .contact-privacy-part {
    width: 10px;
    border-top: 0;
    border-left: 0;
    background-color: transparent;
    transform: rotate(45deg);
    top: -5px;
    left: 5px;
  }

  &:focus + .contact-privacy-part {
    outline: -webkit-focus-ring-color auto 5px;
  }

  &:checked:focus + .contact-privacy-part {
    outline: none;
  }
}

.contact-privacy-link {
  color: $primary-color;
  text-decoration: underline;
}

.contact-footer-submit {
  @include mq(sm) {
    margin-top: 34px;
  }
  margin-top: 46px;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
  background-color: #fff;
  z-index: 100;

  &.-error {
    color: red;
  }
}

/*--------------------footer---------------*/

footer {
  height: 130px;
  width: 100%;
  background-color: rgb(59, 59, 59);

  @include mq(sm) {
    height: 100px;
  }
}

.footer-item {
  display: flex;
  position: relative;

  @include mq(sm) {
    display: block;
  }

  & p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;

    @include mq(sm) {
      display: none;
    }
  }
}

.footer-nav {
  position: absolute;
  right: 10px;
  margin-right: 20px;
  margin-top: 10px;

  @include mq(sm) {
  }

  & ul {
    text-align: right;
    @include mq(sm) {
      text-align: center;
    }
    & li {
      @include mq(sm) {
        display: inline-block;
        padding-left: 25px;
        padding-top: 20px;
      }

      & a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        letter-spacing: 2px;
        color: rgb(255, 254, 254);
        transition: all 0.5s;

        &:hover {
          transform: scale(1.2, 1.2) translate(-1px, -1px);
        }
      }
    }
  }
}

.footer-logo {
  width: 40px;
  padding-left: 10px;
}

/*---------------img------------------*/

.img-item {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.img {
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: 1;
  opacity: 0.1;
  overflow: hidden;
  transition: 3s;
  background-repeat: no-repeat;

  &:hover {
    width: 550px;
    height: 550px;
  }

  @include mq(sm) {
    width: 200px;
    height: 200px;

    &:hover {
      width: 200px;
      height: 200px;
    }
  }
}

.img-1 {
  background-image: url(../images/HTML5のロゴアイコン.svg);
  top: 0px;
  right: 0px;

  @include mq(sm) {
    right: 20%;
    top: 50px;
  }
}

.img-2 {
  background-image: url(../images/ワードプレスのアイコン.svg);
  top: 600px;
  left: 0px;
  @include mq(sm) {
    left: 20%;
    top: 2300px;
  }
}

.img-3 {
  background-image: url(../images/twitterのフリーアイコン素材.svg);
  top: 1200px;
  right: 0px;

  @include mq(sm) {
    right: 20%;
    top: 3900px;
  }
}

.img-4 {
  background-image: url(../images/CSSアイコン.svg);
  top: 1800px;
  left: 0px;
  @include mq(sm) {
    left: 20%;
    top: 5500px;
  }
}

.img-5 {
  background-image: url(../images/ワードプレスのアイコン.svg);
  top: 2400px;
  right: 0px;

  @include mq(sm) {
    display: none;
  }
}

.img-6 {
  background-image: url(../images/twitterのフリーアイコン素材.svg);
  top: 3000px;
  left: 0px;

  @include mq(sm) {
    display: none;
  }
}

.img-7 {
  background-image: url(../images/ワードプレスのアイコン.svg);
  top: 3600px;
  right: 0px;

  @include mq(sm) {
    display: none;
  }
}

.img-8 {
  background-image: url(../images/ワードプレスのアイコン.svg);
  top: 4200px;
  left: -150px;

  @include mq(sm) {
    display: none;
  }
}


